body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.Heading{ 
            
        margin:0 auto;
          color:red;
           font-family: Monospace;
            font-size: 26px;
             border-color: green;
              border-width: 10px;
               border-style: solid;
                border-radius: 50%;
        }
.bag{
            margin:0 auto;
             font-size: 16px;
              font-family: Monospace;
                 color: blue;
        }